body {
    color: #0c0c0c;
    background: #f3f7f7;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Crete Round', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 45px;
    background: #0c0c0c;
}

nav {
    background-color: #dddddd;
    height: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#logo {
    font-style: italic;
    font-size: 40px;
    color: #e2f705;
}

#logo:hover {
    color: #fff;
    font-size: 2.6rem;
    transition: 0.3s;
}

nav a {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    margin-right: 15px;
}

nav a:hover {
    color: #fff;
    color: #e2f705;
    font-size: 1.7rem;
    transition: 0.4s;
}

nav .user span {
    color: #e2f705;
    font-size: 1.3rem;
    font-weight: 400;
}

header a {
    padding: 0 10px;
    text-decoration: none;
}



